# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan

# Variables / Secrets
*.tfvars
*.tfvars.json
.env
.env.*

# Keys
*.pem
*.key

# Editors
.vscode/
.idea/

# Python
.venv/
__pycache__/
*.pyc
